:root {
    --primary: #d61b69;
    --secondary: #ffa3c9;
    --accent: #c52b6b;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --text: #050315;
    --background: #fbfbfe;

    --navbar-height: 5rem;
    --navbar-padding: 2.5rem;
    --content-max-width: 80rem;

    --rounded-border-radius: 0.5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text);
    margin: 0;
    font-family: 'ui-sans-serif', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
    color: var(--primary);
    text-decoration-color: var(--primary);
}

a:visited {
    color: var(--accent);
    text-decoration: var(--accent);
}

/* Navbar */

.navbar-fixed-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 var(--navbar-padding);
    background: var(--background);
}

.navbar .exclamation {
    color: var(--primary);
}

.navbar .logo a {
    transition: all 0.10s ease-out;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--text);
}

.navbar .logo a:hover {
    transition: all 0.10s ease-out;
    text-decoration: none;
    color: var(--primary);
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li a {
    text-decoration: none;
    color: var(--text);
}

.navbar #navbar-dropdown-checkbox {
    display: none;
}

.navbar nav {
    background: var(--background);
}

/* Mobile stuff */

.navbar #navbar-dropdown-button img {
    transition: all 0.10s ease-out;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.navbar #navbar-dropdown-checkbox:checked~#navbar-dropdown-button img {
    transform: rotate(90deg);
}

.navbar #navbar-dropdown-checkbox:checked~nav {
    top: var(--navbar-height);
}

.navbar nav {
    transition: all 0.10s ease-out;
    position: absolute;
    left: 0;
    top: calc(-100% - var(--navbar-padding) / 2);
    width: 100%;
    padding-bottom: calc(var(--navbar-padding) / 2);
    z-index: -1;
}

.navbar nav ul li {
    position: relative;
}

.navbar nav ul li a {
    padding: 0 var(--navbar-padding);
    line-height: var(--navbar-padding);
    display: block;
}

.navbar nav ul li::after {
    transition: all 0.10s ease-out;
    position: absolute;
    top: 50%;
    right: calc(var(--navbar-padding) + 0.5rem);
    transform: translateY(-50%);
    background: var(--primary);
    width: 10px;
    height: 10px;
    content: "";
    opacity: 0;
    border-radius: 100%;
}

.navbar nav ul li.active::after,
.navbar nav ul li:not(.active):hover::after {
    opacity: 1;
}

.navbar nav ul:focus-within .active::after {
    opacity: 0;
}

/* Desktop Stuff */

@media only screen and (min-width: 768px) {
    .navbar #navbar-dropdown-button {
        display: none;
    }

    .navbar nav {
        height: 100%;
        position: unset;
        /* this is bad practice, but needed here */
        top: unset !important;
        left: unset;
        width: unset;
        padding-bottom: unset;
        z-index: unset;
    }

    .navbar nav ul {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .navbar nav ul li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar nav ul li a {
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar nav ul li::after {
        display: none;
    }

    .navbar nav ul li::before {
        transition: all 0.10s ease-out;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: var(--primary);
        width: 100%;
        height: 5px;
        content: "";
        opacity: 0;
    }

    .navbar nav ul li.active::before,
    .navbar nav ul li:not(.active):hover::before {
        opacity: 1;
    }

    .navbar nav ul:focus-within .active::before {
        opacity: 0;
    }
}

/* index.html */

.section-impression {
    min-height: calc(100vh - var(--navbar-height));
    padding: 0 2.5rem;
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.section-impression>* {
    margin-bottom: 2rem;
}

.section-impression>*:first-child {
    margin-top: 2rem;
}

.section-impression img {
    max-width: 460px;
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.section-impression .blurb {
    font-size: 1.25rem;
}

.section-impression .blurb .title {
    font-size: 1.75rem;
}

.section-impression .blurb .name {
    color: var(--primary);
}

.anchor-scroll-down {
    transition: all 0.10s ease-out;
    --size: 3rem;
    height: 3rem;
    width: 3rem;
    line-height: calc(3rem - 0.5rem);
    font-size: calc(3rem / 2);
    text-align: center;
    border-radius: 100%;
    border: 0.2rem solid var(--primary);
    color: var(--primary);
    text-decoration: none;
}

.anchor-scroll-down:hover {
    color: var(--background);
    background: var(--primary);
}

.section-about {
    max-width: var(--content-max-width);
    margin-top: var(--navbar-height);
    margin: 0 auto;
    padding: 0 var(--navbar-padding);
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-about>* {
    padding: 2rem 0;
}

.section-about .section-about-content>* {
    margin-top: 2rem;
}

.section-about .section-about-content>*:nth-child(1) {
    margin-top: 0;
}

.section-about .section-about-content p {
    font-size: 1.125rem;
}

.section-about .section-about-content>div:nth-child(1) img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1;
    border-radius: var(--rounded-border-radius);
}

.section-about .section-about-content>div:nth-child(2) img {
    /* max-height: 300px; */
    object-position: center center;
    width: 100%;
}

.section-about .section-about-content>div:nth-child(3) img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    aspect-ratio: 1;
    border-radius: var(--rounded-border-radius);
}


@media only screen and (min-width: 768px) {
    .section-about .section-about-content>div:nth-child(1) {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .section-about .section-about-content>div:nth-child(1) img {
        width: unset;
        height: 300px;
    }

    .section-about .section-about-content>div:nth-child(2) {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .section-about .section-about-content>div:nth-child(2) img {
        width: unset;
    }

    .section-about .section-about-content>div:nth-child(3) {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .section-about .section-about-content>div:nth-child(3) img {
        width: unset;
        width: 300px;
    }
}

/* past.html */

.section-portfolio {
    margin: 0 auto;
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--navbar-height));
}

.section-portfolio-title {
    max-width: var(--content-max-width);
    width: calc(100% - var(--navbar-padding) * 2);
    padding: 0 var(--navbar-padding);
    margin-left: auto;
    margin-right: auto;
}

.bento-position-wrapper {
    position: relative;
    max-width: var(--content-max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: hidden;
}

.bento-back-button {
    transition: all 0.25s ease-out, z-index 0.25s cubic-bezier(1, 0, 1, 0);
    position: absolute;
    top: -3rem;
    right: 2.5rem;
    height: 3rem;
    width: 3rem;
    border: none;
    cursor: pointer;
    background-image: url("assets/img/back.svg");
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    background-size: 2.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;

}

*:focus-within~.bento-back-button {
    top: 2.5rem;
}

.bento-scroll-wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
}

.bento-scroll-wrapper>.bento {
    min-width: 768px;
    flex: 1;
}

.bento {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.bento>* {
    transition: all 0.25s ease-out, z-index 0.25s cubic-bezier(1, 0, 1, 0);
    top: 0;
    height: 50%;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}

.bento>*:nth-child(n+3) {
    top: unset;
    bottom: 0;
}

.bento>*:nth-child(odd) {
    left: 0;
}

.bento>*:nth-child(even) {
    right: 0;
}

.bento>*:nth-child(1) {
    width: 60%;
}

.bento>*:nth-child(2) {
    width: 40%;
}

.bento>*:nth-child(3) {
    width: 40%;
}

.bento>*:nth-child(4) {
    width: 60%;
}

.bento>*:focus {
    transition: all 0.25s ease-out, z-index 0.25s cubic-bezier(0, 1, 0, 1);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.bento>*>.bento-image {
    object-fit: cover;
    object-position: left top;
    height: 100%;
    width: 100%;
}

.bento>*>.bento-text {
    padding: 1rem;
    height: 50%;
    width: calc(100% - 1rem * 2);
    color: var(--background);
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.bento>*>.bento-text .bento-title a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.bento>*>.bento-text .bento-description {
    transition: all 0.25s ease-out;
    max-height: 0;
    overflow-y: hidden;
}

.bento>*:focus>.bento-text .bento-description {
    max-height: 100vh;
}

@media only screen and (min-width: 768px) {
    .section-portfolio {
        justify-content: center;
    }

    .bento-position-wrapper {
        padding: 0 var(--navbar-padding);
        width: calc(100% - var(--navbar-padding) * 2);
    }

    .bento-back-button {
        right: calc(var(--navbar-padding) + 2.5rem);
    }

    .bento-scroll-wrapper {
        border-radius: var(--rounded-border-radius);
        margin-bottom: 2.5rem;
        flex: 0;
    }
}