:root {
    --primary: #e22c78;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --white: #ffffff;
    --black: #000000;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

body {
    background: #ffffff;
    color: #000000;
    margin: 0;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Navbar */

#navbar {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

#navbar #exclamation {
    color: var(--primary);
}

#navbar #logo a {
    transition: all 0.25s ease-out;
    font-size: 1.125rem;
    text-decoration: none;
    color: black;
}

#navbar #logo a:hover {
    transition: all 0.25s ease-out;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--primary);
}

/* Mobile stuff */

/* #navbar #navbar-dropdown-checkbox {
    display: none;
} */

#navbar-dropdown-checkbox:checked ~ * {
    opacity: 0;
}

/* Desktop Stuff */

@media only screen and (min-width: 768px) {
    #navbar #navbar-dropdown-button {
        display: none;
    }

    #navbar nav {
        display: inline;
        height: 100%;
    }
    
    #navbar nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    
    #navbar nav ul li {
        padding: 0 1rem;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    #navbar nav ul li::before {
        transition: all 0.25s ease-out;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: var(--primary);
        width: 100%;
        height: 5px;
        content: "";
        opacity: 0;
    }
    
    #navbar nav ul li.active::before {
        opacity: 1;
    }
    
    #navbar nav ul li:not(.active):hover::before {
        opacity: 1;
    }
    
    
    #navbar nav ul li a {
        text-decoration: none;
        color: black;
    }
} 
