{%- assign sorted_pages = site.pages | sort:"order" -%}
<div class="navbar-fixed-wrapper">
    <div class="navbar">
        <!-- This must be at the start, so that the `nav` sibling can be detected. -->
        <input id="navbar-dropdown-checkbox" type="checkbox" />
        <h1 class="logo">
            <a href="index.html" tabindex="1">Amy<span class="exclamation">!</span></a>
        </h1>
        <nav>
            <ul>
                {% for node in sorted_pages %}
                    {%- assign page_url = node.path -%}
                    {%- if page_url == "websystems.scss" -%}
                        {%- continue -%}
                    {%- endif -%}
                    {%- if page.url == node.url -%}
                        <li id="navbar-active"><a href="{{ page_url }}">{{node.title}}</a></li>
                    {%- else -%}
                        <li><a href="{{ page_url }}">{{node.title}}</a></li>
                    {%- endif -%}
                {% endfor %}
            </ul>
        </nav>
        <label tabindex="2" title="Toggle Mobile Dropdown" id="navbar-dropdown-button" for="navbar-dropdown-checkbox">
            <img alt="Toggle Mobile Dropdown (Taken from https://www.radix-ui.com/icons)" src="assets/img/nav.svg" />
        </label>
    </div>
</div>