{%- assign sorted_pages = site.pages | sort:"order" -%}
<div style="position: fixed; top: 0; width: 100%;">
    <div class="navbar">
        <!-- This must be at the start, so that the `nav` sibling can be detected. -->
        <input id="navbar-dropdown-checkbox" type="checkbox" style="display: none;" />
        <div class="logo">
            <a href="{{ "/" | relative_url }}">Amy<span class="exclamation">!</span></a>
        </div>
        <nav>
            <ul>
                {% for node in sorted_pages %}
                    {%- assign page_url = node.url | relative_url -%}
                    {%- if page.url == node.url -%}
                        <li class="active"><a href="{{ page_url }}">{{node.title}}</a></li>
                    {%- else -%}
                        <li><a href="{{ page_url }}">{{node.title}}</a></li>
                    {%- endif -%}
                {% endfor %}
            </ul>
        </nav>
        <label title="Toggle Mobile Dropdown" id="navbar-dropdown-button" for="navbar-dropdown-checkbox">
            <img alt="Toggle Mobile Dropdown" src="{{ "/assets/img/nav.svg" | relative_url }}" />
        </label>
    </div>
</div>