$primary: #d61b69;
$secondary: #ffa3c9;
$accent: #c52b6b;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$text: #050315;
$background: #fbfbfe;

$navbar-height: 5rem;
$navbar-padding: 2.5rem;
$content-max-width: 80rem;

$rounded-border-radius: 0.5rem;

html {
    scroll-behavior: smooth;
}

body {
    background: $background;
    color: $text;
    margin: 0;
    font-family: 'ui-sans-serif', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
    color: $primary;
    text-decoration-color: $primary;
}

a:visited {
    color: $accent;
    text-decoration: $accent;
}

/* Navbar */

.navbar-fixed-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 $navbar-padding;
    background: $background;
}

.navbar .exclamation {
    color: $primary;
}

.navbar .logo a {
    transition: all 0.10s ease-out;
    font-size: 1.125rem;
    text-decoration: none;
    color: $text;
}

.navbar .logo a:hover {
    transition: all 0.10s ease-out;
    text-decoration: none;
    color: $primary;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li a {
    text-decoration: none;
    color: $text;
}

.navbar #navbar-dropdown-checkbox {
    display: none;
}

.navbar nav {
    background: $background;
}

/* Mobile stuff */

.navbar #navbar-dropdown-button img {
    transition: all 0.10s ease-out;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.navbar nav:focus-within~#navbar-dropdown-button img,
.navbar #navbar-dropdown-checkbox:checked~#navbar-dropdown-button img {
    transform: rotate(90deg);
}

.navbar nav:focus-within,
.navbar #navbar-dropdown-checkbox:checked~nav {
    top: $navbar-height;
}

.navbar nav {
    transition: all 0.10s ease-out;
    position: absolute;
    left: 0;
    top: calc(-100% - $navbar-padding / 2);
    width: 100%;
    padding-bottom: calc($navbar-padding / 2);
    z-index: -1;
}

.navbar nav ul li {
    position: relative;
}

.navbar nav ul li a {
    padding: 0 $navbar-padding;
    line-height: $navbar-padding;
    display: block;
}

.navbar nav ul li::after {
    transition: all 0.10s ease-out;
    position: absolute;
    top: 50%;
    right: calc($navbar-padding + 0.5rem);
    transform: translateY(-50%);
    background: $primary;
    width: 10px;
    height: 10px;
    content: "";
    opacity: 0;
    border-radius: 100%;
}

.navbar nav ul li#navbar-active::after,
.navbar nav ul li:not(#navbar-active):hover::after {
    opacity: 1;
}

// .navbar nav ul:focus-within #navbar-active::after {
//     opacity: 0;
// }

/* Desktop Stuff */

@media only screen and (min-width: 768px) {
    .navbar #navbar-dropdown-button {
        display: none;
    }

    .navbar nav {
        height: 100%;
        position: unset;
        /* this is bad practice, but needed here */
        top: unset !important;
        left: unset;
        width: unset;
        padding-bottom: unset;
        z-index: unset;
    }

    .navbar nav ul {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .navbar nav ul li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar nav ul li a {
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar nav ul li::after {
        display: none;
    }

    .navbar nav ul li::before {
        transition: all 0.10s ease-out;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: $primary;
        width: 100%;
        height: 5px;
        content: "";
        opacity: 0;
    }

    .navbar nav ul li#navbar-active::before,
    .navbar nav ul li:not(#navbar-active):hover::before {
        opacity: 1;
    }

    // .navbar nav ul:focus-within #navbar-active::before {
    //     opacity: 0;
    // }
}